<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCfTKQ-5sDNvN3QfC6S4oqeKOnbEv7AxzE",
        authDomain: "iot-smart-home-door-lock-7ccc9.firebaseapp.com",
        databaseURL: "https://iot-smart-home-door-lock-7ccc9.firebaseio.com",
        storageBucket: "iot-smart-home-door-lock-7ccc9.appspot.com",
        messagingSenderId: "513607106040"
      };
      firebase.initializeApp(config);


      var firebaseRef = firebase.database().ref().child('Access');
      firebaseRef.on("value", function(snapshot)
      {
            var element = document.getElementById("table");
            var tbdy = document.createElement('tbody');
            snapshot.forEach(function(element) {
                var tr = document.createElement('tr');
                var td = document.createElement('td');
                var td1 = document.createElement('td');
                var td2 = document.createElement('td');
                td.appendChild(document.createTextNode(element.val()["name"]));
                td1.appendChild(document.createTextNode(element.val()["rfid"]));
                td2.appendChild(document.createTextNode(element.val()["time"]));
                tr.appendChild(td)
                tr.appendChild(td1)
                tr.appendChild(td2)
                tbdy.appendChild(tr);
          });
          element.innerHTML = tbdy.innerHTML;
      })
      var firebaseRef1 = firebase.database().ref().child('Users');
      firebaseRef1.on("value", function(snapshot)
      {
            var element = document.getElementById("user");
            var tbdy = document.createElement('tbody');
            snapshot.forEach(function(element) {
                console.log(element.val())
                var tr = document.createElement('tr');
                var td = document.createElement('td');
                var td1 = document.createElement('td');
                td.appendChild(document.createTextNode(element.key);
                td1.appendChild(document.createTextNode(element.val()));
                tr.appendChild(td)
                tr.appendChild(td1)
                tbdy.appendChild(tr);
          });
          element.innerHTML = tbdy.innerHTML;
      })
    </script>
{% extends 'base.html' %}
{% block content %}
    <div class="camera">
        <h1>Camera</h1>
        <img src="{{url_for('video_feed')}}"
            style=
            "
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 35%;
            "
        >
    </div>
    <div class="row">
        <div class="col-9">
            <h1>Users information</h1>
        </div>
        <div class="col-3">
            <a class="btn btn-primary btn-lg" href="/register" role="button">Add user</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">RFID</th>
            <th scope="col">Created by time</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="user">
            {% for user in access_log %}
                <tr>
                    <td>{{user['name']}}</td>
                    <td>{{user['access_by_time']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Access log</h1>
    <table >
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">rfid</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody id="table">
            {% for user in access_log %}
                <tr>
                    <td>{{user['name']}}</td>
                    <td>{{user['access_by_time']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}